@font-face {
  font-family: 'Actay';
  src: url('/fonts/Actay-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Druzhok';
  src: url('/fonts/DRUZHOK.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
