@import 'tailwindcss';

body {
  font-family: Actay, sans-serif;
}

@theme {
  --color-primary: #0f7951;
  --color-secondary: #b4b83c;
  --color-white-secondary: #fbfbfb;
  --color-main-black: #303030;

  --breakpoint-3xl: 120rem;
  --breakpoint-xsm: 25rem;

  --shadow-base: 0 8px 16px 0 #1b1b1b33;

  --font-druzhok: Druzhok, sans-serif;
}

@layer utilities {
  .section-container {
    @apply 3xl:px-[134px] 3xl:py-[100px] overflow-hidden px-[20px] py-[40px] md:px-[40px];
  }

  .link-card {
    @apply block h-auto w-[100%] max-sm:max-w-[500px] sm:size-[400px] lg:size-[500px];
  }

  .link-card-title {
    @apply font-druzhok xsm:text-[40px] text-[34px] leading-none sm:text-[45px] md:text-[50px] lg:text-[60px];
  }

  .button {
    @apply transition-base cursor-pointer rounded-xl border-2 px-[18px] py-[8px] text-[20px] md:px-[30px] md:py-[18px] md:text-[24px];
  }

  .button-secondary {
    @apply border-primary text-primary hover:shadow-base hover:text-green-800;
  }

  .button-primary {
    @apply bg-primary hover:shadow-base text-white hover:bg-green-800;
  }
}

@utility transition-base {
  @apply duration-300;
}
